<div class="container pagecontainer">
  <div class="page-header">
    <ul class="nav navbar-nav">
      <li ><a routerLink="list" routerLinkActive="active">List</a></li>
      <li><a routerLink="search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="review" routerLinkActive="active">Review</a></li>
    </ul>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" style="height: 50px;">
    </div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
